<h1 class="animated fadeIn fast">Terminal Terrestre Quitumbe</h1>
<p>Descubre la Terminal Terrestre Quitumbe de Quito, tu puerta de entrada a una experiencia de viaje sin igual. Ubicada estratégicamente al sur de la ciudad, nuestra terminal se destaca como un centro de transporte moderno y eficiente. Conectando a los viajeros con una amplia gama de destinos nacionales, nos enorgullece ofrecer una amplia variedad de servicios y comodidades para satisfacer tus necesidades.</p>

<img src="https://cooperativatac.com/img/frecuencias.png" alt="">