<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">

        <img src="https://img.freepik.com/vector-premium/icono-bus_609277-1523.jpg?w=740" alt="Bootstrap" width="30" height="24">

        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Quiénes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['heroes']">Rutas</a>
                </li>

                <div class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto aria-label="Search">
                    <button (click)="buscarHeroe(buscarTexto.value)" class="btn-outline-succes" type="button">Search</button>
                </div>

            </ul>

        </div>
    </div>

</nav>