<h1>{{heroe.nombre}} <small> {{heroe.aparicion}}</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-8">
        <h3> Origen: {{heroe.origen}}</h3>
        <h3> Destino: {{heroe.destino}}</h3>
        <hr>
        <p>
            Precio: {{heroe.precio}}
        </p>
        <hr>
        <p>
            Descripcion: {{heroe.descripcion}}
        </p>
        <hr>
        <p>
            Tipo: {{heroe.tipo}}
        </p>
        <a href="heroes" class="btn btn-outline-danger btn.block">REGRESAR</a>
    </div>
</div>